In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
movies_df = pd.read_csv(os.path.join('data','movies_final'))

In [3]:
movies_df.count()

Unnamed: 0                      1550
Unnamed: 0.1                    1550
Title                           1550
Duration(Min)                   1283
ReleaseDate                     1426
Score                           1142
NoUsersRating                   1142
MetaScore                         75
NoReviews-Users                  850
NoReviews-Crit                   741
OpeningWE(USA)($)                187
Gross(USA)($)                    206
CumulativeWorldWide Gross($)     138
dtype: int64

In [5]:
movies_df_clean_larger = movies_df[np.isfinite(movies_df['NoReviews-Users'])]

In [12]:
movies_df_clean_larger.count()

Unnamed: 0                      850
Unnamed: 0.1                    850
Title                           850
Duration(Min)                   810
ReleaseDate                     845
Score                           839
NoUsersRating                   839
MetaScore                        75
NoReviews-Users                 850
NoReviews-Crit                  659
OpeningWE(USA)($)               187
Gross(USA)($)                   206
CumulativeWorldWide Gross($)    138
dtype: int64

In [15]:
movies_df_clean_larger.sort_values('ReleaseDate',inplace=True)

/home/filippo/anaconda3/envs/3_6_data_science/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
movies_df_clean_larger.drop(movies_df_clean_larger.tail(5).index,inplace=True)

/home/filippo/anaconda3/envs/3_6_data_science/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
movies_df_clean_larger.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>Unnamed: 0.1</th>
      <th>Title</th>
      <th>Duration(Min)</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>525</th>
      <td>125</td>
      <td>126</td>
      <td>Suicide Squad: Hell to Pay (Video 2018)</td>
      <td>86.0</td>
      <td>2018-03-27</td>
      <td>0.72</td>
      <td>2419.0</td>
      <td>NaN</td>
      <td>29.0</td>
      <td>18.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>549</th>
      <td>149</td>
      <td>150</td>
      <td>Sign Gene (2017)</td>
      <td>NaN</td>
      <td>2018-04-13</td>
      <td>0.79</td>
      <td>21.0</td>
      <td>NaN</td>
      <td>5.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>524</th>
      <td>124</td>
      <td>125</td>
      <td>Batman Ninja (2018)</td>
      <td>85.0</td>
      <td>2018-04-24</td>
      <td>0.91</td>
      <td>291.0</td>
      <td>NaN</td>
      <td>6.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>531</th>
      <td>131</td>
      <td>132</td>
      <td>Psychokinesis (2018)</td>
      <td>101.0</td>
      <td>2018-04-25</td>
      <td>0.53</td>
      <td>130.0</td>
      <td>NaN</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>522</th>
      <td>122</td>
      <td>123</td>
      <td>Avengers: Infinity War (2018)</td>
      <td>149.0</td>
      <td>2018-04-27</td>
      <td>0.95</td>
      <td>3936.0</td>
      <td>NaN</td>
      <td>9.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
movies_df_clean_larger['Score'].fillna(movies_df_clean_larger['Score'].median(),inplace=True)
movies_df_clean_larger['NoUsersRating'].fillna(movies_df_clean_larger['NoUsersRating'].median(),inplace=True)
movies_df_clean_larger['MetaScore'].fillna(movies_df_clean_larger['MetaScore'].median(),inplace=True)
movies_df_clean_larger['NoReviews-Users'].fillna(movies_df_clean_larger['NoReviews-Users'].median(),inplace=True)
movies_df_clean_larger['NoReviews-Crit'].fillna(movies_df_clean_larger['NoReviews-Crit'].median(),inplace=True)
movies_df_clean_larger['OpeningWE(USA)($)'].fillna(movies_df_clean_larger['OpeningWE(USA)($)'].median(),inplace=True)
movies_df_clean_larger['Gross(USA)($)'].fillna(movies_df_clean_larger['Gross(USA)($)'].median(),inplace=True)

/home/filippo/anaconda3/envs/3_6_data_science/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [22]:
movies_df_clean_larger['CumulativeWorldWide Gross($)'].fillna(movies_df_clean_larger['Gross(USA)($)'], inplace=True)

/home/filippo/anaconda3/envs/3_6_data_science/lib/python3.6/site-packages/pandas/core/generic.py:4355: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._update_inplace(new_data)

In [23]:
movies_df_clean_larger.count()

Unnamed: 0                      845
Unnamed: 0.1                    845
Title                           845
Duration(Min)                   808
ReleaseDate                     845
Score                           845
NoUsersRating                   845
MetaScore                       845
NoReviews-Users                 845
NoReviews-Crit                  845
OpeningWE(USA)($)               845
Gross(USA)($)                   845
CumulativeWorldWide Gross($)    845
dtype: int64

In [25]:
movies_df_clean_larger = movies_df_clean_larger[['Title',
                                                 'ReleaseDate',
                                                 'Score',
                                                 'NoUsersRating',
                                                 'MetaScore',
                                                 'NoReviews-Users',
                                                 'NoReviews-Crit',
                                                 'OpeningWE(USA)($)',
                                                 'Gross(USA)($)',
                                                 'CumulativeWorldWide Gross($)']].copy()

In [26]:
movies_df_clean_larger.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Title</th>
      <th>ReleaseDate</th>
      <th>Score</th>
      <th>NoUsersRating</th>
      <th>MetaScore</th>
      <th>NoReviews-Users</th>
      <th>NoReviews-Crit</th>
      <th>OpeningWE(USA)($)</th>
      <th>Gross(USA)($)</th>
      <th>CumulativeWorldWide Gross($)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>The Green Archer (1925)</td>
      <td>1925-12-06</td>
      <td>0.62</td>
      <td>687.0</td>
      <td>68.0</td>
      <td>1.0</td>
      <td>16.0</td>
      <td>19167085.0</td>
      <td>53786889.5</td>
      <td>53786889.5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>The Spider's Web (1938)</td>
      <td>1938-10-22</td>
      <td>0.73</td>
      <td>91.0</td>
      <td>68.0</td>
      <td>5.0</td>
      <td>3.0</td>
      <td>19167085.0</td>
      <td>53786889.5</td>
      <td>53786889.5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>The Green Hornet (1940)</td>
      <td>1940-01-09</td>
      <td>0.71</td>
      <td>398.0</td>
      <td>68.0</td>
      <td>12.0</td>
      <td>10.0</td>
      <td>19167085.0</td>
      <td>53786889.5</td>
      <td>53786889.5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>The Green Hornet Strikes Again! (1940)</td>
      <td>1940-12-24</td>
      <td>0.72</td>
      <td>274.0</td>
      <td>68.0</td>
      <td>3.0</td>
      <td>2.0</td>
      <td>19167085.0</td>
      <td>53786889.5</td>
      <td>53786889.5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Superman (1941)</td>
      <td>1941-09-26</td>
      <td>0.74</td>
      <td>2355.0</td>
      <td>68.0</td>
      <td>27.0</td>
      <td>14.0</td>
      <td>19167085.0</td>
      <td>53786889.5</td>
      <td>53786889.5</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
movies_df_clean_larger.to_csv(os.path.join('data','movies_final_clean_larger'))